.header-background {
    background-image: url(../../Data/Images/Computer-Science-Background.jpg);
    background-color: var(--light-primary); /* Adjust color and opacity */
    background-blend-mode: soft-light;
    background-position: center;
    background-size: contain;
}

.header-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    margin: 10% 5% 5% 5%;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 2em;
}

.middle-text {
    display: flex;
    color: var(--light-secondary); /* Adjust color based on your image */
    font-size: 1.3em;
    font-weight: 700;
    padding: 0;
}

h1{
    font-size: 1.2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-weight: 500;
    text-align: start;
    margin-block: 0;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-weight: 500;
    text-align: start;
    margin-block: 0;
    margin-bottom: 0.5em;
}

.services-text{
    text-align: start;
    font-weight: 500;
    font-size: 0.9em;
}

.dynamic-text {
    opacity: 0;
    transition: opactity 1s;
}

.dynamic-text {
    opacity: 1;
}

.profile-image-wrapper{
    position: relative;
    display: inline-block;
}

.profile-image-wrapper::before,
.profile-image-wrapper::after {
    content: '';
    position: absolute;
    border: 1.5em solid var(--dark-primary); /* Border thickness and color */
}

.profile-image-wrapper::before {
    top: 2em;
    left: 2em;
    width: 3em; /* Adjust size of the corner border */
    height: 3em;
    border-right: none;
    border-bottom: none;
}

.profile-image-wrapper::after {
    bottom: -1.2em;
    right: 0;
    width: 3em; /* Adjust size of the corner border */
    height: 3em;
    border-left: none;
    border-top: none;
}

.profile-image-wrapper img {
    height: auto;
}

.body-text {
    display: none;
}

.body-text.show {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 0.8em;
    margin: 0 5em;
    padding: 3em 0;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 80%;
    margin-left: 2em;
    text-align: start;
}

.display-about-text {
    min-height: 10em;
    height: fit-content;
}



.skills-filter-wrapper{
    display: flex;
    align-content: center;
    justify-content: center;
}

.skills-container{ 
    display: grid;
    align-content: space-evenly;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    gap: 0.5em;
    background-color: var(--light-secondary);
    padding: 1em;
    box-shadow: inset 0 0 0.5em;
    border-radius: 1em;
    margin: 5% 5% 10% 5%;
}

.skill-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--light-text);
    background-color: var(--light-footer);
    width: 8em;
    border-radius: 2em;
    box-shadow: 0.5em 0.5em rgba(0, 0, 26, 0.4);
    margin-bottom: 1em;
    transition: transform 0.3s ease; /* Smooth transition */
    cursor: pointer; /* Optional: Indicate it's interactive */
}

.skill-box.dark-mode{
    color: var(--dark-text);
    background-color: var(--dark-footer);
}

.skill-box:hover{
    transform: translateY(-0.5em); /* Move up by 10px */
}

.circular-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px; /* Size of the circular bar */
    height: 150px;
    padding-bottom: 0.5em;
    position: relative;
  }
  
  .progress-circle {
    width: 100%;
    height: 100%;
    background: conic-gradient(
      var(--light-secondary) calc(var(--progress) * 1%), /* Highlighted progress */
      #959595 0% /* Remaining area */
    );
    border-radius: 50%; /* Make it circular */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden; /* Ensures the center image doesn't overflow */
  }
  
  .center-image {
    width: 50%;
    height: 50%;
    object-fit: cover; /* Ensures the image maintains its aspect ratio */
    border-radius: 50%; /* Make the image circular */
    padding: 0.5em;
    background-color: var(--light-footer);
  }

  .center-image.darkmode{
    background-color: var(--dark-footer);
  }

    /*Component css*/
    .center-component {
        margin: 1em;
        align-self: center;
    }

    .center-component:hover{
        opacity: 0.5;
    }

@media (max-width: 1080px) {
    /*Opening Section*/
    .header-section{
        flex-direction: column;
        gap: 0;
    }

    .header-container{
        padding: 3em 0 0 2em;
        margin-left: 0;
        align-items: center;
        font-size: 1.3em;

    }

    .middle-text{
        width: 110%;
        justify-content: center;
        font-size: 1.2em;
    }

    .static-text, .dynamic-text{
        height: 2em;
    }

    .body-text.show{
        width: 80vw;
        font-size: 0.9em;
        margin: 0 5em;
        padding-top: 0;
        text-align: justify;
    }

    .profile-image-container{
        display: flex;
        justify-content: center;
        width: 90vw;
        margin-left: 2em;
    }

    .profile-image-container img{
        width: 50vw;
        max-width: 450px;
    }

    .services-text{
        text-align: center;
        padding: 0 1.5em 0 0;
    }

    .display-about-text{
        margin: 0;
    }
    
    .skills-container {
        grid-template-columns: repeat(3, 7.5em);
    }
    
    .skill-box{
        width: 7em;
    }

    .circular-bar{
        width: 6em;
        height: 6em;
    }
}

@media (max-width: 768px) {

    .header-container{
        padding: 1em 0;
    }

    .body-text.show{
        margin: 0 3em;
        text-align: center;
    }

    .about-text{
        margin: 0;
    }

    .middle-text{
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
    }

    .services-text{
        text-align: justify;
        padding: 0 1em;
    }


    .profile-image-container{
        margin: 0;
        padding-bottom: 1em;
    }

    .profile-image-container img{
        width: 90vw;
    }

    /*Skills Section*/
    .skills-container{
        grid-template-columns: repeat(3, 6em);
    }

    .skill-box{
        width: 6em;
    }

    .circular-bar{
        width: 5em;
        height: 5em;
    }
}