:root{
  --background-image-color: url(../src/Data/Images/Invert-Computer-Science-Background.png);
  --light-primary: rgb(218, 218, 218);
  --light-secondary: rgb(0, 106, 139);
  --light-footer: rgb(48, 48, 50);
  --dark-text: #000;
  --light-text: #fff;
  --dark-primary: rgb(48, 48, 50);
  --dark-footer: rgb(218, 218, 218);
}

.App {
  overflow-x: hidden;
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: var(--dark-text);
}

.App-header.dark-mode{
  color: var(--light-text);
}

.text-style{
  font-size: 1.2em;
  font-style: italic;
  display: inline;
  text-shadow: 4px 4px 4px var(--light-primary);
  color: var(--light-secondary);
}

.page-title {
  text-align: center;
}

button{
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border-color: var(--light-secondary);
  border-width: 0.3em;
  border-style: solid;
  background-color: var(--light-secondary);
  font-weight: 500;
  font-size: 0.8em;
  color: var(--light-text); 
}

button.dark-mode{
  color: var(--light-text);
}

button:hover{
  color: var(--light-text);
}

p{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}