:root{
  --light-primary: rgb(218, 218, 218);
  --light-secondary: rgb(0, 106, 139);
  --light-footer: rgb(48, 48, 50);
  --dark-text: #000;
  --light-text: #fff;
  --dark-primary: rgb(48, 48, 50);
  --dark-footer: rgb(218, 218, 218);
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--light-primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: var(--dark-text);
}

.App-header.dark-mode{
  background-color: var(--dark-primary);
  color: var(--light-text);
}

.text-style{
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
  display: inline;
  color: var(--light-secondary);
}

.page-title {
  text-align: center;
}

button{
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border-color: var(--light-secondary);
  border-width: 0.3em;
  border-style: solid;
  background-color: #282c3400;
  font-weight: 500;
  font-size: 0.8em;
  color: var(--dark-text); 
}

button.dark-mode{
  color: var(--light-text);
}

button:hover{
  background-color: var(--light-secondary);
}