.footer {
    background-color: var(--light-footer); /* White background */
    padding: 2.5em 1.25em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    color: #fff; /* Text color */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
    z-index: 110;
  }

  .footer.dark-mode{
    background-color: var(--dark-footer);
  }

  .footer-container{
    margin: 0 auto;
    border: var(--light-secondary) solid 0.7em;
    border-bottom: none;
    padding: 1em;
  }
  
  .footer-content {
    padding: 1em;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .footer-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .footer-logo img {
    max-height: 800px;
    height: 150px;
    width: auto;
    border-radius: 25%;
  }

  .footer-caption {
    display: flex;
    align-items: center;
    justify-items: center;
    height: fit-content;
    margin-left: 1em;
    border: var(--light-primary) solid 0.1em;
  }

  .footer-caption.dark-mode {
    border: var(--dark-primary) solid 0.1em
  }

  .footer-caption h2{
    padding: 0.5em;
    text-align: center;
    color: var(--light-secondary);
    text-shadow: none;
    margin-bottom: 0;
  }
  
  .footer-hours, .footer-contact {
    max-width: 250px;
  }
  
  .footer-content h3 {
    text-align: left;
    margin-bottom: 0.8em;
    font-size: 1.2rem;
    color: var(--light-secondary);
  }

  .footer-content p {
    text-align: left;
    font-size: 1rem;
  }

  .footer-content a {
    text-decoration: none;
    color: var(--light-text) !important;
  }

  .footer-content a:hover {
    text-decoration: none;
    color: var(--light-secondary) !important; 
  }
  
  .footer-menu{
    padding: 0 1em;
  }
  
  .footer p {
    margin: 5px 0;
  }

  .sign-up-form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .email-input {
    padding: 1em;
  }

  .email-button {
    cursor: pointer;
    padding: 1em;
    border-radius: 0;
    background-color: var(--light-secondary);
  }
  
  .email-button:hover {
    background-color: var(--light-footer);
  }

  .email-button.dark-mode:hover {
    background-color: var(--dark-footer);
  }

  .email-status-text{
    text-align: center;
  }

  @media (max-width: 1080px) {
    .footer-container{
      padding: 0;
    }
    .footer-content{
      flex-wrap: wrap;
      padding: 0;
    }
  }

  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
    }

    .footer-content h3 {
      font-size: 1.6rem;
    }

    .footer-logo{
      flex-direction: column;
    }
  
    .footer-hours, .footer-contact {
      text-align: center;
    }
  }