.topbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3em;
    background-color: var(--light-secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.topbar-button-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 1em;
}

.social-icon{
    margin: 0.5em;
    color: var(--dark-text);   
}

.social-icon:hover {
    color: var(--light-text);   
}

.resume-button {
    cursor: pointer;
    background-color: var(--dark-primary); 
    color: var(--light-text);   
}

.resume-button:hover{
    background-color: var(--light-primary);
    color: var(--dark-text);
}

.topbar-mode-section {
    padding-left: 5em;
    display: flex;
    align-items: center;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 3em;
    height: 1em;
  }
  
  /* Hide the default checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--light-primary);
    -webkit-transition: 1s;
    transition: 1s;
  }
  
  .slider:before {
    content: "";
    position: absolute;
    left: 4px;
    bottom: 4px;
    height: 0.7em;
    width: 0.7em;
    background-color: var(--dark-primary);
    -webkit-transition: 1s;
    transition: 1s;
  }
  
  input:checked + .slider {
    background-color: var(--light-primary);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--light-primary);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(2em);
    -ms-transform: translateX(2em);
    transform: translateX(2em);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  @media (max-width: 768px) {
    .topbar-container {
      z-index: 111;
    }

    .topbar-mode-section{
      padding-left: 3.5em;
    }

    .resume-button{
      padding: 0.4em;
    }

    .slider:before{
      height: 0.8em;
      width: 0.8em;
      bottom: 2px;
      left: 2px;
    }
    
  }
