.navbar{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0.5em;
    width: 2.5em;
    justify-content: left;
    background-color: rgb(71, 71, 71);
    transition: width 1s;
    z-index: 1000;
}

.navbar.open{
    width: 30vw;
}

.menu-button{
    display: block;
    width: 2em;
    height: 2em;
    background-color: rgb(71, 71, 71);
    color: white;
    font-size: 1em;
    border-radius: 0.5em;
    padding: 0;
    border: none;
}

.menu-button:hover{
    background-color: white;
    color: black;
}

.nav-menu{
    left: 20%;
    width: 0px;
    transition: width 1s;
}

.nav-menu.open{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-menu .navbar-logo img{
    height: 2.5em;
    margin-top: 1em;
    border-radius: 1.5em;
    transition: width 1s, height 1s;
}

.nav-menu.open .navbar-logo img{
    margin-top: 1em;
    border-radius: 1.5em;
    height: 5em;
}

.nav-menu.open li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-self: left;
    padding: 1em 2em;
    opacity: 1;
    transition: opacity 1s;
}

.nav-menu li{
    opacity: 0;
}

.nav-menu li a {
    text-decoration: none;
    color: beige;
}